


<h1>Cryptos</h1>
<br/>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Cryptocurrency</th>
      <th>Amount</th>
      <th>Date of purchase</th>
      <th>Wallet location</th>
      <th>Current market value(EUR)</th>
      <th >Option</th>
          
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <%if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @lookup_crypto %>          
            <% if crypto.symbol == x["symbol"] %>
              <td><%= link_to x["name"], crypto %> </td><br/> 
              <td><%= crypto.amount_owned %></td>
              <td><%= crypto.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= crypto.location %></td>
              <td><%= x["price_usd"]%></td>              
              
            <% end%>
          <% end %>     

          <td><%= link_to 'Delete', crypto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>  
  </tbody>
</table>

<br/>
<br/>



