


<h1>Cryptos</h1>
<br/>

<table class="">
  <thead>
    <tr>
      <th>Cryptocurrency(name)</th>
      <th>Current market value</th>
      <th>Rank</th>
      <th>1 HR Change</th>
      <th>24 HR Change</th>
      <th>7 Day Change</th>
      <th>My portfolio value</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      
      <th>Amount owned</th>
      <th >Option</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <%if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @lookup_crypto %>          
            <% if crypto.symbol == x["symbol"] %>
              <td><%= link_to x["name"], crypto %> </td><br/>  
              <td><%= x["price_usd"]%></td>   
              <td><%= x["rank"]%></td>
              <td><%= x["percent_change_1h"] %></td>
              <td><%= x["percent_change_24h"] %></td>
              <td><%= x["percent_change_7d"] %></td>
              <td><%= x["price_usd"].to_d * crypto.amount_owned%></td>   
              
              
            <% end%>
          <% end %>     

        
          
          
          <td><%= crypto.amount_owned %></td>
          <td><%= link_to 'Delete', crypto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>  
  </tbody>
</table>

<br/>
<br/>

<%= link_to 'New Crypto', new_crypto_path %>
