<h1 class="text-center">Crypto Portfolio Management</h1><br/>

<h5 class="text-center">Add New Portfolio Item</h5>



<%= render 'form', crypto: @crypto %>

<br/>

<br/>

<table class="table table-bordered table-hover table-striped text-center">
  <thead>
    <tr>
      <th>Cryptocurrency</th>
      <th>Amount</th>
      <th>Date of purchase</th>
      <th>Wallet location</th>
      <th>Current market value(EUR)</th>
      <th >Option</th>
          
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <%if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @lookup_crypto %>          
            <% if crypto.symbol == x["pair"] %>
              <td><%= link_to x["pair"], crypto %> </td><br/> 
              <td><%= crypto.amount_owned.round %></td>
              <td><%= crypto.date.strftime("%d.%m.%Y") %></td>
              <td><%= crypto.location %></td>
              <td><%= (x["last_price"].to_d * crypto.amount_owned).round %></td>              
              
            <% end%>
          <% end %>     

          <td><%= link_to 'Delete', crypto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    <% end %>  
  </tbody>
</table>

<br/>
<br/>



