

<p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @crypto.user_id %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @crypto.date.strftime("%d.%m.%Y") %>
</p>

<p>
  <strong>Wallet location:</strong>
  <%= @crypto.location %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto) %> |
<%= link_to 'Back', cryptos_path %>
