<!DOCTYPE html>
<html>
  <head>
    <title>CryptoPortfolioMindly</title>
    <%= csrf_meta_tags %>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>

  </head>

  <body>

  	<%= render 'layouts/navbar' %>

  	<%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
